
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-container01{
    background-color: #191919;
    background-size: cover;
}
.loginbutton{
    background-color: #000000;
    color: #fff;
    width: 120px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

.logo01{
    width: 300px;
    height: 50px;
    
}
.para01{
    font-size: 18px;
    font-weight: 400;
    color:#FFFFFF;
    line-height: 35px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.button01{
    background-color: #4737FF;
    height: 50px;
    width: 267px;
    border-radius: 4px;
    border: 0px;
    font-size: 12px;
    font-family: 500;
    color:#FFFFFF;
    letter-spacing: 4px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.button01:hover{
    background-color: rgb(226, 141, 38);
}


@media screen and (max-width:767px){
    .heading01{
        font-size: 32px;
        font-weight: 800;
        line-height: 60px;
        color:#FFFFFF;
        line-height: 60px;
        letter-spacing: 1px;
        font-family: 'Russo One', sans-serif;

    }
}
@media screen and (min-width:768px){
    .heading01{
        font-size: 50px;
        font-weight: 800;
        line-height: 60px;
        color:#FFFFFF;
        line-height: 60px;
        letter-spacing: 1px;
    }
}

.paragraph01{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color:#FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.paragraph02{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color:#FFFFFF;
    margin-top: -20px;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width:396px){
    .input01{
        background-color: #F3F3F3 !important;
        height: 54px !important;
        width: 100%;
        text-transform: capitalize;
    }
    .button02{
        background-color: #37fe04 !important;
        color:#000;
        font-size: 15px;
        font-weight: 500;
        border: 0px;
        height: 54px !important;
        text-transform: capitalize;
        border-radius: 0px 5px 5px 0px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .input01::placeholder {
        color: #000 !important;
        font-size: 14px !important;
        font-family: 'Montserrat', sans-serif;
    }
    .icon01{
        color:#FFFFFF;
        font-size: 14px;
    }
    .symbol01{
        color:#FFFFFF;
        font-size: 16px;
        font-weight: 400;
        margin-top: -7px;
        letter-spacing: 0.3px;
        font-family: 'Montserrat', sans-serif;
    }
}

@media screen and (min-width:397px){
    .input01{
        background-color: #F3F3F3 !important;
        text-align: center !important;
        height: 54px !important;
        width: 50%;
        text-transform: capitalize;
    }
    .button02{
        background-color: #37fe04 !important;
        color:#000;
        font-size: 18px;
        font-weight: 500;
        height: 54px !important;
        border: 0px;
        text-transform: capitalize;
        border-radius: 0px 5px 5px 0px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Montserrat', sans-serif;
    }
    .icon01{
        color:#FFFFFF;
        font-size: 14px;
    }
    .symbol01{
        color:#FFFFFF;
        font-size: 18px;
        font-weight: 400;
        margin-top: -7px;
        letter-spacing: 0.3px;
        font-family: 'Montserrat', sans-serif;
    }
}

.input01::placeholder {
    color: #000 !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.card{
    padding: 10px;
    height: 100%;
    background-color: #5c5b58!important;
}
.card:hover{
    background-color: #f0bb2b !important;
    scale: 1.1;
}
.card-title{
    font-family: 'Russo One', sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 300;
}
.card-text{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:767px){
    .heading02{
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0.6px;
        font-family: 'Russo One', sans-serif;
    }
}
@media screen and (min-width:768px){
    .heading02{
        color: #FFFFFF;
        font-size: 23px;
        font-weight: 400;
        letter-spacing: 0.6px;
        font-family: 'Russo One', sans-serif;
    }
}

.owl-theme .owl-dots, .owl-theme .owl-nav{
    color: #FFFFFF !important;
    display: block !important;
}
.step1{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
.stepparagraph{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 400;
   
    font-family: 'Montserrat', sans-serif;
}
.button03{
    background-color: #66f295;
    border: 1px solid #37fe04;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    height:50px;
    font-family: 'Montserrat', sans-serif;
}
.button03:hover{
    background-color: #ebcc1e;
}
.stepimage{
    width: 100%;
    height:100%;
}
.stepimage01{
    width: 100%;
    height: 90%;
}

    .stepimage02{
        width: 100%;
        height: 65%;
    }

    .stepimage03{
        width: 100%;
        height: 70%;
    
    }
.step2para{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 2px;
    color: #FFFFFF;
}
.bg-container02{
    background-color: #191919;
    background-size: cover;
}
.heading03{
    background-color:transparent;
}
.manohar{
    background-color: #F6F5FF;
}

@media screen and (max-width:767px){
    .accordion{
        width: 100% !important;
        border: 2px solid #562EFF;
        background-color: #FFFFFF !important;
    }
}
@media screen and (min-width:768px){
    .accordion{
        width: 80% !important;
        border: 2px solid #FFFFFF;
        background-color: #FFFFFF !important;
    }
}

.card03 {

    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF !important;
}
.card04 {

    border-bottom: 1px solid #FFFFFF;
    background-color: #FFFFFF !important;
}

.sample01 {
    color: #191919 !important;
    text-decoration: none !important;
    font-size: 18px !important;
    font-weight: 600 !important;

    
}
.card-body001{
    color: #000000;
    font-weight: 400;
    font-size: 18px;
    padding: 15px;
    text-align: left;
}
.icon02{
    font-size: 16px;
    margin-top: 10px;
}
.heading04{
    color:#FFFFFF;
    font-size: 24px;
    font-weight: 800;
    margin-top: 8px;
}
.copyright{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 12px;
}
.privacy, .terms{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 7px;
}
.disclaimer{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: 400;
}


.manohar{
    background-color: #37fe04;
}

.simage{
    width: 120px;
}
.logo02{
    width: 300px;
    height: 50px;
    
}






